.grid-5.gridipad .card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 0.875rem 1rem;
}

@media (max-width: 1280px) {
    .grid-5.gridipad .card-body {
        padding: 0.575rem;
    }
    .grid-5.gridipad .text-xs {
        font-size: .6rem;
    }
}

@media (max-width: 1024px) {
    .grid-5.gridipad .card-body {
        padding: 0.2rem;
    }
}

@media (max-width: 967px) {
    .grid-5.gridipad {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .grid-5.gridipad {
        grid-template-columns: 1fr 1fr;
    }
    .grid-5.gridipad .card-body {
        padding: 0.475rem;
    }
}