<div class="container-fluid" *ngIf="storeDetail">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="m-0 font-weight-bold text-primary">View Store</h6>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-primary" (click)="history.back()">
                <span class="fas fa-arrow-left"></span> Back
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Content Row -->
            <div class="grid-5 gridipad">
                <!-- Earnings (Monthly) Card Example -->
                <div class=" mb-4 hvrcursor" routerLink="/store/order" title="View Order">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Orders
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{ storeDetail.orders }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-fw fa-user fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class=" mb-4 hvrcursor" [routerLink]="'/store/outlet/' + id" title="View Outlet">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Outlets
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{ storeDetail.outlets }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-fw fa-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pending Requests Card Example -->
                <div class=" mb-4 hvrcursor" [routerLink]="'/store/food-item/' + id" title="View Store Items">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                        Store Items
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{ storeDetail.items }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-shopping-cart fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" mb-4 hvrcursor" [routerLink]="'/store/food-type/' + id" title="View Store Types">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                        Store Types
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{ storeDetail.types }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-list-alt fa-2x text-gray-300 "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="storeDetail.detail">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="Name" [value]="storeDetail.detail.name" class="form-control" disabled />
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
            <div class="form-group">
              <label>Description</label>
              <textarea row="4" type="text" class="form-control" id="body" [value]="
              storeDetail.detail.description
                    ? storeDetail.detail.description
                    : '-'
                " class="form-control" placeholder="Description" disabled></textarea>
            </div>
          </div> -->
                    <!-- <div class="col-md-6">
            <div class="form-group">
              <label>Food Type</label>
              <input type="text" name="Name" [value]="
              storeDetail.detail.foodType == '0'
                    ? 'Vegetrainian'
                    : storeDetail.detail.foodType == '1'
                    ? 'Non-Vegetrainian'
                    : 'Vegetrainian & Non-Vegetrainian'
                " class="form-control" disabled />
            </div>
          </div> -->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Discount</label>
                            <input type="text" name="discount" [value]="storeDetail.detail.discount" class="form-control" disabled />
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Average Order Price</label>
                            <input type="text" name="price" [value]="storeDetail.detail.avgOrderPrice" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Average Delivery Time</label>
                            <input type="text" name="time" [value]="storeDetail.detail.avgDeliveryTime" class="form-control" disabled />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Store Category</label>
                            <ul class="list-inline">
                                <li *ngFor="let category of storeDetail.detail.categories" class="mb-2">
                                    <i class="fas fa-utensils mr-1 text-primary"></i> {{ category.name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Image</label>
                            <div>
                                <ng-container *ngIf="storeDetail.detail.image">
                                    <img [src]="comm.imageUrl + storeDetail.detail.image" style="height: 150px; width: 150px;" />
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>