.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

.modal-title {
  color: #000;
  font-weight: bold;
}

.modal-body {
  color: #3c3c3c;
  font-weight: 400;
}

.topbar .topbar-divider {
  margin: auto 0.1rem auto 0.5rem;
}

.lang-selecter {
  background-color: #3e99001f;
  color: #FF4500;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  border-color: white;
}

.lang-selecter option {
  text-align: center !important;
}

@media (max-width: 767px) {
  li.nav-item a img {
    margin-right: 0;
  }
}
