.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.14rem;
    margin-left: 0.6rem;
    font-size: 95%;
    color: #f55353;
}

::ng-deep {
    .ngx-dropdown-container .ngx-dropdown-button {
        min-height: 38px !important;
    }
    .ngx-dropdown-container button .nsdicon-angle-down {
        top: 2px;
    }
    .ngx-dropdown-container .ngx-dropdown-list-container ul li {
        padding: 3px 8px !important;
    }
}