<h2 mat-dialog-title *ngIf="item">Edit Store Type</h2>
<h2 mat-dialog-title *ngIf="restaurantId">Add Store Type</h2>
<mat-dialog-content>
    <form [formGroup]="categoryForm">
        <div class="usr_profile_inrmain">
            <div class="usr_profile_biodata">
                <label>Type</label>
                <div class="input-group">
                    <input class="form-control" type="text" name="name" formControlName="name" />
                </div>
                <div *ngIf="submitted && categoryForm.controls.name.errors" class="invalid-feedback">
                    <div *ngIf="categoryForm.controls.name.errors.required">
                        Type is required
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>

    <button class="btn btn-primary mr-3" *ngIf="!item" (click)="onSubmit()">
        Add Type
    </button>
    <button class="btn btn-primary mr-3" *ngIf="item" (click)="onUpdate()">
        Edit Type
    </button>
    <button class="btn btn-danger" (click)="close()">Close</button>
</mat-dialog-actions>